@using GalvantMVC2.Domain.Enums;
@{
    ViewBag.Title = "Add Task";
}

<h1>Dodaj zadanie</h1>

<form action="~/add-task" method="post">
    <div class="w-50 float-left">                   

        <div class="box">
            <h4>Wybierz urządzenie</h4>
                <div class="form-field flex">
                <div class="w-25">
                    <label class="form-label pt" for="location1">Oddział</label>
                </div>
                <div class="flex-1">
                    <select name="location1" class="form-input" id="firstDropdown">
                        <option value="Wybierz oddział">Wybierz oddział</option>
                        <option value="Czarna Białostocka">Czarna Białostocka</option>
                        <option value="Wyszków">Wyszków</option>                   
                    </select>
                </div>
                </div>

            <div class="flex">
                <div class="w-25">
                    <label class="form-label pt" for="location2">Lokalizacja</label>
                </div>
                <div class="flex-1">
                    <select name="location2" class="form-input" id="secondDropdown">                        
                    </select>
                </div>
            </div>

            <div class="flex">
                <div class="w-25">
                    <label class="form-label pt" for="type">Rodzaj</label>
                </div>
                <div class="flex-1">
                    <select name="type" class="form-input" id="thirdDropdown">                        
                    </select>
                </div>
            </div>

            <div class="flex">
                <div class="w-25">
                    <label class="form-label pt" for="Equipment">Urządzenia</label>
                </div>
                <div class="flex-1">
                    <select name="Equipment" class="form-input" id="fourthDropdown">                        
                    </select>
                </div>
            </div>            
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" for="TagId">Tag</label>
            </div>
            <div class="flex-1">
                <select name="TagId" id="TagId" class="form-input">
                    <option value="">Wybierz tag</option>
                    @foreach (var tag in ViewBag.Tags)
                    {
                        <option value="@tag.TagId">@tag.TagName</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" for="Title">Tytuł zadania</label>
            </div>
            <div class="flex-1">
                <input class="form-input" type="text" id="Title" name="Title" />
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" for="Description">Opis zadania</label>
            </div>
            <div class="flex-1">
                <textarea class="form-input" id="Description" name="Description"></textarea>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" for="StatusId">Status</label>
            </div>
            <div class="flex-1">
                <select name="StatusId" id="StatusId" class="form-input">
                    <option value="">Wybierz status</option>
                    @foreach (var status in ViewBag.Statuses)
                    {
                        <option value="@status.StatusId">@status.StatusName</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label">Priorytet</label>
            </div>
            <div class="flex-1">
                @{
                    string[] priorities = (string[])Enum.GetNames(typeof(PriorityEnum));
                }
                @foreach (string priority in priorities)
                {
                    <input type="radio" name="Priority" id="Priority" value="@priority" />
                    <label for="@priority">@priority</label>
                }                
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" for="DueDate">Termin wykonania</label>
            </div>
            <div class="flex-1">
                <input class="form-input" type="date" id="DueDate" name="DueDate" />
            </div>
        </div>
        
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" for="Notes">Notatki</label>
            </div>
            <div class="flex-1">
                <textarea class="form-input" id="Notes" name="Notes"></textarea>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" for="Cost">Koszt</label>
            </div>
            <div class="flex-1">
                <input class="form-input" type="number" id="Cost" name="Cost" />
            </div>
        </div>

        <input type="hidden" id="EquipmentId" name="EquipmentId" />

        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-green-back">Dodaj</button>
            </div>
        </div>
    </div>    
</form>

@section scripts {
    <script>
        $('#firstDropdown').change(function () {
            var firstDropdownVal = $(this).val();    
                        
            $.get('/add-task/GetSecondDropdownOptions', { firstDropdownVal: firstDropdownVal }, function (data) {
                
                $('#secondDropdown').empty().append($('<option>', {
                    value: '',
                    text: 'Wybierz lokalizację'
                }));
                
                $.each(data, function (index, item) {
                    $('#secondDropdown').append($('<option>', {
                        value: item.location2Id, 
                        text: item.location2Name 
                    }));
                });
                
                $('#thirdDropdown').empty();
                $('#fourthDropdown').empty();
            });
        });

        $('#secondDropdown').change(function () {
            var firstDropdownVal = $('#firstDropdown').val();
            var secondDropdownVal = $(this).val();            
                        
            $.get('/add-task/GetThirdDropdownOptions', { firstDropdownVal: firstDropdownVal, secondDropdownVal: secondDropdownVal }, function (data) {
                
                $('#thirdDropdown').empty().append($('<option>', {
                    value: '',
                    text: 'Wybierz rodzaj'
                }));
                
                $.each(data, function (index, item) {
                    $('#thirdDropdown').append($('<option>', {
                        value: item.typeId,
                        text: item.typeName
                    }));
                });
                
                $('#fourthDropdown').empty();
            });
        });

        $('#thirdDropdown').change(function () {
            var firstDropdownVal = $('#firstDropdown').val();
            var secondDropdownVal = $('#secondDropdown').val();
            var thirdDropdownVal = $(this).val();
            
            $.get('/add-task/GetFourthDropdownOptions', { firstDropdownVal: firstDropdownVal, secondDropdownVal: secondDropdownVal, thirdDropdownVal: thirdDropdownVal }, function (data) {
                
                $('#fourthDropdown').empty().append($('<option>', {
                    value: '',
                    text: 'Wybierz urządzenie'
                }));
                
                $.each(data, function (index, item) {
                    $('#fourthDropdown').append($('<option>', {
                        value: item.equipmentId,
                        text: item.equipmentCascade
                    }));
                });                
            });
        });

        $('#fourthDropdown').change(function () {
            var equipmentId = $(this).val();
            $('#EquipmentId').val(equipmentId);
        });      
        
    </script>
}
