@using GalvantMVC2.Application.ViewModels.Equipment

@model IEnumerable<FileVm>

@{
    int counter = 1;
}

    @foreach (FileVm file in Model)
    {
        <tr>
            <td style="width:10%">@counter</td>
            <td style="width:50%">
                <a href="/download-file/@file.FileId" target="_blank">@file.FileName</a>
            </td>
            <td style="width:10%">@file.FileSize MB</td>
            <td style="width:10%">@file.FileExtension</td>            
            <td style="width:10%">                              
                <a href="javascript:void(0);" class="delete-file upload-link">
                    <i class="options-link fa-solid fa-trash list-trash" title="Usuń" data-fileid="@file.FileId"></i>
                </a>
            </td>
        </tr>
        counter++;
    }
    <tr></tr>

@section scripts {
    <script>
        
        const deleteIcons = document.querySelectorAll(".delete-file");
                
        deleteIcons.forEach(deleteIcon => {
            deleteIcon.addEventListener("click", function () {
                
                const fileId = this.getAttribute("data-fileid");
                                
                const confirmation = confirm("Czy na pewno chcesz usunąć ten plik?");
                                
                if (confirmation) {
                    
                    const rowToRemove = document.querySelector(`tr[data-fileid="${fileId}"]`);
                    if (rowToRemove) {
                        rowToRemove.remove();
                    }
                    
                } else {
                    
                }
            });
        });
    </script>
}

